<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Basic Vue Js - HelloWorld App</title>

    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->

    <!-- Using via Google Web Fonts -->

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- https://tailwindcss.com/docs/installation -->

    <!-- Using Tailwind via CDN -->

    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->

    <!-- Vue CDN -->

    <script src="https://unpkg.com/vue@next"></script>
    <!--bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div id="app">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
          <div class="upper">
            <img v-bind:src="imageUpper" class="img-fluid" />
          </div>
          <div class="user text-center">
            <div class="profile">
              <img v-bind:src="imageProfile" class="rounded-circle" />
            </div>
          </div>
          <div class="mt-5 text-center">
            <h4 class="mb-0">{{firstname}} {{lastname}}</h4>
            <span class="text-muted d-block mb-2">{{location}}</span>
            <button class="btn btn-primary btn-sm follow">Follow</button>
            <div
              class="d-flex justify-content-between align-items-center mt-4 px-4"
            >
              <div class="stats">
                <h6 class="mb-0">Followers</h6>
                <span>{{followers}}</span>
              </div>
              <div class="stats">
                <h6 class="mb-0">Projects</h6>
                <span>{{projects}}</span>
              </div>
              <div class="stats">
                <h6 class="mb-0">Ranks</h6>
                <span>{{ranks}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-16">
        <h1 class=" text-blue-900">Sign In</h1>
      </div>
      <div
        id="form"
        class="container w-2/5 p-10 mx-auto mt-10 border rounded-lg"
      >
        <form @submit.prevent="checkForm">
          
          <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col">
              <label for="fname" class="text-sm leading-7 text-gray-600"
                >First Name</label
              >
              <input
                type="text"
                id="fname"
                v-model.trim="fname"
                name="fname"
                class="bg-gray-100 rounded px-4 py-2 mb-4 text-blue-900"
              />
            </div>
            <div class="flex flex-col">
              <label for="lname" class="text-sm leading-7 text-gray-600"
                >Last Name</label
              >
              <input
                type="text"
                id="lname"
                v-model.trim="lname"
                name="lname"
                class="bg-gray-100 rounded px-4 py-2 mb-4 text-blue-900"
              />
            </div>
            <div class="flex flex-col">   
              <label class="text-sm leading-7 text-gray-600">Gender</label>
              <div class="flex flex-row pt-2 space-x-2">
                  <input type="radio" id="Male" v-model="gender" name="gender" value="m" class="bg-gray-100 rounded px-4 py-2 mb-4 ">
                  <label for="Male" class="text-gray-600">Male</label>
                  <input type="radio" id="Female" v-model="gender" name="gender" value="f" class="bg-gray-100 rounded px-4 py-2 mb-4 ">
                  <label for="Female" class="text-gray-600">Female</label>
              </div>
          </div>
          <div class="flex flex-col col-span-2">
            <label for="chosengroup"class="text-sm leading-7 text-gray-600">Group</label>
            <select id="chosengroup" v-model="chosengroup" name="chosengroup" class="bg-gray-100 rounded px-4 py-2 mb-4 text-blue-900">
            <option v-for="group in group_lists" :value="group.group_num">
                {{group.instructor}}
            </option>
        </div>
        </form>
      </div>
    </div>

    <!-- my main.js -->

    <script src="profile.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  </body>
</html>
